.b_tit {
    width: 100%;
    height: 84px;
    margin: 28px auto;
    background: url("../img/b_tit_03.png");
    position: relative;
    line-height: 84px;
    text-align: center;
    font-size: 14px;
    font-family: "San Francisco Display";
    font-weight: bold;
    letter-spacing: 20px;
    color: white;
}

.b_tit_con {
    width: 100%;
    height: 84px;
    background: rgba(17, 128, 202, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 20px;
    font-family: "Tensentype Xichao";
    font-size: 36px;
}

.b_tit_line {
    width: 100%;
    height: 43px;
    background: #1180ca;
    margin-top: -10px;
    padding: 0 35px;
    font-size: 18px;
    font-family: 微软雅黑;
    font-weight: bold;
    color: white;
    line-height: 43px;
}

.b_tit_line span {
    display: inline-block;
    float: left;
}

.b_tit_line span:nth-child(2) {
    margin-left: 11px;
    margin-top: 15px;
    width: 2px;
    height: 12px;
    background: white;
}

.b_tit_line span:nth-child(3) {
    margin-left: 3px;
    margin-top: 12px;
    width: 2px;
    height: 18px;
    background: white;
}

.b_tit_line p {
    display: inline-block;
    float: left;
    margin-left: 4px;
    color: #fff;
    font-size: 2px;
    letter-spacing: 4px;
}

.b_content {
    width: 1198px;
    border: 1px #999 solid;
    border-top: none;
    padding: 0 35px;
    position: relative;
    margin-bottom: 49px;
}

.b_content_ul {
    display: block;
    font-size: 14px;
    color: #666;
    counter-reset: count;
    line-height: 30px;
    padding: 20px 0 44px;
    border-bottom: 1px #02adf0 solid;
}

.b_content_ul_last{
    border: none;
}

.b_content_li:before {
    display: block;
    float: left;
    content: "●";
    color: #02adf0;
    width: 10px;
    height: 10px;
    font-size: 10px;
    margin-right: 15px;
}

.b_content_li {
    overflow: hidden;
    display: block;
}

.b_content_li a {
    display: block;
    float: left;
    width: 700px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #666;
    text-decoration: none;
}

.b_content_li span {
    display: block;
    float: right;
    font-style: normal;
    font-size: 14px;
    color: #333;
}

.b_content_li span img {
    width: 13px;
    height: 13px;
}

.b_content_item {
    width: 1130px;
    height: 6px;
    background: #1180ca;
    position: absolute;
    bottom: -7px;
    left: 35px;
}

.b_content_app {
    overflow: hidden;
}
.b_content_app_it{
    margin-top: 28px;
    overflow: hidden;
}
.b_content_app_it strong{
    display: block;
    float: left;
    padding: 0 6px;
    font-size: 18px;
    color: #333;
}
.b_content_app_it_left,.b_content_app_it_right{
    width: 2px;
    height: 18px;
    background: #333;
    margin-top: 3px;
    float: left;
}
.b_content_app_it_right{
    margin-right: 43px;
}
select{
    width: 192px;
    border:none;
    border-bottom: 1px #c1c1c1 solid;
    -webkit-appearance: none;
    background: url("../img/select_03.png") no-repeat scroll right center transparent;
    padding-right: 14px;
}
select::-ms-expand{
    display: none;
}
select:focus,textarea:focus,input:focus{
    outline: none;
}
option{
    font-size: 16px;
}
textarea{
    width: 994px;
    height: 135px;
    background: rgba(193,193,193,0.1);
    display: inline-block;
    float: left;
    resize: none;
    border:none;
    font-size: 14px;
    color: #333;
}
.b_limit{
    width: 100%;
    height: 20px;
    float: left;
    margin-top: 10px;
    margin-left: 135px;
    font-size: 16px;
    color: #999;
}
.email,.phone{
    width: 192px;
    height: 25px;
    display: block;
    margin-top: 5px;
    border:none;
    border-bottom: 1px #c1c1c1 solid;
    -webkit-appearance: none;
}
.phone{
    margin-left: 131px;
}
.submit{
    width: 152px;
    height: 44px;
    background: #02adf0;
    border:none;
    display: block;
    float: right;
    margin: 34px 0 50px;
}
.submit_left,.submit_right{
    width: 3px;
    height: 22px;
    background: #333333;
    position: absolute;
    bottom:61px;
    right:185.5px;
}
.submit_right{
    right:33.5px;
}